@import "mixin";

* {
  box-sizing: border-box;
}

.dark {
  background: #0f0f0f;
}

input,
button,
textarea {
  font-style: normal;
}

body {
  margin: 0;
  background: #ffffff;
  @media (max-width: rem(992)) {
  }
  &.no-scroll {
    overflow: hidden;
    //padding-right: rem(5);
    @media (max-width: rem(992)) {
      padding-right: 0;
    }
  }

  &::-webkit-scrollbar {
    background: transparent;
    width: rem(10);
  }

  &::-webkit-scrollbar-track {
    background: #171717;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #1fa169;
    border-radius: rem(100);
  }
}
* {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none !important;
  @media (max-width: rem(992)) {
    outline: none !important;
  }
}

.section-title {
  color: var(--2, #282828);
  font-size: rem(48);
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin: 0;
  @media (max-width: rem(992)) {
    font-size: rem(40);
  }
}

@media screen and (min-width: rem(992)) {
  /*html, body{
		overflow-x:hidden;
	}*/
  .dt-hidden {
    display: none !important;
  }
}
@media screen and (max-width: rem(992)) {
  .iti.iti--container {
    z-index: 1999999999 !important;
  }
  .mob-hidden {
    display: none !important;
  }
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 rem(16);
  width: 100%;
  @media (max-width: rem(1375)) {
    max-width: $md1 + px;
  }
  /*@media (min-width: rem(1600)) {
    max-width: $maxWidth;
  }*/
}

.container {
  max-width: 1095px;
  width: 100%;
  padding: 0 rem(16);
  margin: 0 auto;
}

.site {
  position: relative;
  > .react-parallax {
    @media (max-width: rem(992)) {
      border-radius: 0 !important;
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fadeInUp {
  animation: fadeInUp linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  @media (max-width: rem(992)) {
    animation-range: entry 0% cover 20%;
  }
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  min-height: 100%;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(15px);
  pointer-events: all;
  transition: all 0.5s;
  padding: 16px;

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 654px;
    width: 100%;
    max-height: 95vh;
    padding: 0 16px;
    overflow: auto;
  }

  &__body {
    display: flex;
    flex-direction: column;
    max-width: 532px;
    color: #fff;
  }

  &__content {
  }

  &__close {
    position: absolute;
    top: 0px;
    right: 16px;
    background-color: transparent;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
  }

  &__title {
  }

  &__form {
    .request-form {
      .wrapper {
        .form {
          &__career {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 30px;
            column-gap: 22px;
            @media (max-width: 767px) {
              display: flex;
              flex-direction: column;
              column-gap: 0;
            }
            .row {
              width: 100%;
              display: flex;
              > .div {
                display: flex;
                width: 100%;
              }
              input {
                padding: 16px 20px;
                border: 1px solid #fff;
                background-color: #fff;
                border-radius: 100px;
                font-family: "Ubuntu", sans-serif;
                color: #232323;
                width: 100%;
                transition: all 0.3s ease 0s;

                &::placeholder {
                  color: #a8a8a8;
                  font-size: 16px;
                  line-height: normal;
                  font-family: "Ubuntu", sans-serif;
                }

                &.invalid {
                  border-color: #ff0000;
                }
              }

              .react-tel-input {
                width: 100%;

                &.invalid {
                  input {
                    border-color: #ff0000;
                  }
                }

                .flag-dropdown {
                  width: fit-content;
                  position: absolute;
                  top: 0;
                  left: 0;
                  border: none;
                  background: transparent;
                  &:hover {
                    background-color: transparent !important;
                  }

                  &.open {
                    width: 100%;
                  }

                  .selected-flag {
                    position: absolute;
                    height: 50px;
                    top: 0;
                    left: 0;
                    padding-left: 16px;
                    background-color: transparent;

                    .iti-arrow {
                      right: -5px;
                    }

                    .selected-dial-code {
                      color: #959595;
                      font-family: "Ununtu", sans-serif;
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 300;
                      line-height: normal;
                    }
                  }

                  .country-list {
                    width: 100%;
                    top: 40px;
                    border-radius: 10px;
                    &::-webkit-scrollbar {
                      background: transparent !important;
                      width: 0px !important;
                    }

                    &::-webkit-scrollbar-track {
                      background: transparent !important;
                    }

                    &::-webkit-scrollbar-thumb {
                      background-color: transparent !important;
                      opacity: 0 !important;
                    }

                    li {
                      color: var(--6, #0b1d20);
                      font-family: "Urbanist", sans-serif;
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 120%;
                    }
                  }
                }

                input {
                  padding: 16px 20px 16px 65px !important;
                  height: 50px;
                  transition: all 0.3s ease 0s;
                }
              }

              .custom-select__control {
                border: none;
                border-radius: 100px;
                padding: 7px 16px 7px 24px;
                transition: all 0.3s ease 0s;
                cursor: pointer;

                .custom-select__value-container {
                  padding: 0;
                }

                .custom-select__indicator-separator {
                  display: none;
                }

                .custom-select__indicator {
                  border: none;
                  svg {
                    path {
                      fill: #1fa169;
                    }
                  }
                }
              }

              .css-b62m3t-container {
                width: 100%;
              }

              &._policy {
                grid-column-start: span 2;

                label {
                  position: relative;
                  display: flex;
                  padding-left: 30px;
                  cursor: pointer;
                  max-width: 450px;
                  margin-top: -15px;

                  &.invalid {
                    &::before {
                      border-color: #ff0000;
                    }
                  }
                  input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    opacity: 0;
                    visibility: hidden;
                  }
                  span {
                    font-size: 14px;
                    line-height: normal;
                    font-family: "Ubuntu", sans-serif;
                    color: #fff;
                    font-weight: 300;
                    a {
                      color: #fff;
                      transition: all 0.3s ease 0s;
                      &:hover {
                        color: #1fa169;
                        text-decoration: underline;
                      }
                    }
                  }

                  &::before {
                    content: "";
                    position: absolute;
                    top: 2px;
                    left: 0;
                    width: 15px;
                    height: 16px;
                    border: 1px solid #fff;
                    border-radius: 3px;
                    background-color: #fff;
                  }

                  &::after {
                    content: "";
                    position: absolute;
                    top: 6px;
                    left: 4px;
                    width: 10px;
                    height: 10px;
                    border-radius: 2px;
                    background-color: #1fa169;
                    transition: all 0.3s ease 0s;
                    opacity: 0;
                    visibility: hidden;
                  }

                  &._active {
                    &::after {
                      opacity: 1;
                      visibility: visible;
                    }
                  }
                }
              }

              &._textarea {
                grid-column-start: span 2;

                textarea {
                  width: 100%;
                  height: 90px;
                  resize: none;
                  padding: 16px 20px;
                  border: 1px solid #fff;
                  background-color: #fff;
                  border-radius: 30px;
                  font-family: "Ubuntu", sans-serif;
                  color: #232323;
                  width: 100%;
                  transition: all 0.3s ease 0s;

                  &::placeholder {
                    color: #a8a8a8;
                    font-size: 16px;
                    line-height: normal;
                    font-family: "Ubuntu", sans-serif;
                  }
                }
              }

              &._file {
                input[type="file"] {
                  font-size: 0;
                  position: relative;
                  cursor: pointer;
                  transition: all 0.3s ease 0s;
                  &::file-selector-button {
                    display: none;
                  }

                  &::before {
                    content: "Your CV";
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                    left: 16px;
                    color: #a8a8a8;
                    font-size: 16px;
                    line-height: normal;
                    font-weight: 500;
                    font-family: "Urbanist", sans-serif;
                  }

                  &::after {
                    content: "Attach file";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 130px;
                    height: 100%;
                    text-align: center;
                    font-family: "Urbanist", sans-serif;
                    font-size: 16px;
                    line-height: normal;
                    font-style: italic;
                    color: #333333;
                    background-color: transparent;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 8px;
                    transition: all 0.3s ease 0s;
                    background-image: url("/images/icon-cv.png");
                    background-repeat: no-repeat;
                    background-size: 8px;
                    background-position: 90% center;
                  }
                }
                &._active {
                  input[type="file"] {
                    font-size: 16px;
                    &::before {
                      display: none;
                    }

                    &::after {
                      opacity: 0;
                      visibility: hidden;
                    }
                  }
                }

                &._error {
                  input {
                    border-color: #ff0000;
                  }
                }
              }

              &._remove {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                opacity: 0;
                visibility: hidden;
              }
            }

            .request-button {
              grid-column-start: span 2;
              background-color: #1fa169;
              padding: 10px 24px;
              border-radius: 100px;
              font-size: 20px;
              line-height: 34px;
              color: #fff;
              font-weight: 400;
              font-family: "Ubuntu", sans-serif;
              border: none;
              cursor: pointer;
              transition: all 0.3s ease 0s;

              &:hover {
                background-color: #0b1d20;
              }
            }

            .general-error {
              grid-column-start: span 2;
              text-align: center;
              color: #ff0000;
            }
          }

          &__title {
            grid-column-start: span 2;
            margin-top: 0;
            @include adaptiv-value("margin-bottom", 35, 10, 1);
            font-family: "Ubuntu", sans-serif;
            text-align: center;
            font-weight: 600;
            color: #fff;
            font-size: 32px;
            line-height: normal;
          }
        }
      }

      .success-message {
        font-size: 24px;
        line-height: 36px;
        font-weight: 300;
        color: #fff;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 55px;

        span {
          font-weight: 700;
          color: #1fa169;
          font-size: 32px;
          line-height: normal;
          text-transform: uppercase;
        }
      }
    }
  }
}

.add-to-cart {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: rem(10);
  color: #333333;
  font-size: rem(24);
  font-weight: 300;
  line-height: 1.2;
  text-align: left;
  background: transparent;
  padding: 0;
  border: none;
  &:hover {
    svg {
      rect {
        fill: #1fa169;
        stroke: #1fa169;
      }
      path {
        fill: #fff;
      }
    }
  }
}

@keyframes bounce-custom {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}
