@import "mixin.scss";

.contacts {
    padding-top: 34px;
    @include adaptiv-value("padding-bottom", 200, 100, 1);
    &__container {
    }

    &__body {
        @include adaptiv-value("padding-top", 170, 140, 1);
        background-color: #333333;
        background-image: url("/images/contact/contact-back-01.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        border-radius: 30px;
    }

    &__wrapper {
    }
}

.contact-hero {
    &__container {
    }

    &__body {
    }

    &__title {
        @include adaptiv-value("font-size", 70, 28, 1);
        line-height: normal;
        text-align: center;
        max-width: 1064px;
        margin: 0 auto;
        font-family: "Ubuntu", sans-serif;
        font-weight: 800;
        color: #ffffff;

        span {
            color: #1fa169;
        }

        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
                display: flex;
                font-size: 36px;
                text-align: center;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 48px;
        max-width: 1100px;
        margin: 0 auto;
        padding: 100px 0 65px 0;
        position: relative;

        @media (max-width: 992px) {
            flex-direction: column;
            gap: 32px;
            align-items: center;
            padding: 20px 0 65px 0;
        }
    }

    &__image-arrow {
        position: absolute;
        top: 16px;
        left: 50%;
        transform: translate(-50%, 0);

        @media (max-width: 767px) {
            display: none;
        }
    }

    &__img-01 {
        max-width: 470px;
        height: fit-content;
        width: 100%;
        object-fit: contain;

        @media (max-width: 767px) {
            max-width: 300px;
        }
    }

    &__img-02 {
        max-width: 430px;
        width: 100%;
        height: fit-content;
        object-fit: contain;

        @media (max-width: 767px) {
            max-width: 260px;
            margin: 0 20px 0 auto;
        }
    }
}

.contact-connect {
    @include adaptiv-value("padding-top", 100, 50, 1);
    @include adaptiv-value("padding-bottom", 100, 50, 1);
    &__container {
    }

    &__body {
        display: flex;
        gap: 32px;
        position: relative;
        @media (max-width: 992px) {
            flex-direction: column;
            gap: 40px;
        }
    }

    &__title {
        @include adaptiv-value("font-size", 48, 32, 1);
        line-height: 120%;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        margin: 0;
        position: sticky;
        top: 100px;
        left: 0;

        span {
            color: #1fa169;
        }

        @media (max-width: 992px) {
            text-align: center;
            position: static;
        }
    }

    &__col-01 {
        width: 50%;
        @media (max-width: 992px) {
            width: 100%;
        }
    }

    &__col-02 {
        width: 50%;
        @media (max-width: 992px) {
            width: 100%;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    &__item {
        background-color: #f3f3f3;
        border-radius: 30px;
        padding: 40px;
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__icon {
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__label {
        margin: 0;
        font-family: "Gilroy", sans-serif;
        color: #333333;
        font-size: 24px;
        line-height: normal;
        font-weight: 600;
    }

    &__link {
        margin: 0;
        display: flex;
        font-size: 16px;
        line-height: normal;
        color: #333333;
    }
}

.contact-location {
    @include adaptiv-value("padding-top", 100, 50, 1);
    @include adaptiv-value("padding-bottom", 100, 50, 1);
    &__container {
    }

    &__body {
        display: flex;
        gap: 32px;
        @media (max-width: 992px) {
            flex-direction: column;
            gap: 50px;
        }
    }

    &__title {
        @include adaptiv-value("font-size", 48, 32, 1);
        line-height: 120%;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        margin: 0;
        position: sticky;
        top: 100px;
        left: 0;

        span {
            color: #1fa169;
        }

        @media (max-width: 992px) {
            text-align: center;
            position: static;
        }
    }

    &__col-01 {
        width: 50%;
        @media (max-width: 992px) {
            width: 100%;
        }
    }

    &__col-02 {
        width: 50%;
        @media (max-width: 992px) {
            width: 100%;
        }
    }

    &__items {
    }

    &__address {
        background-color: #f3f3f3;
        border-radius: 30px;
        padding: 40px;
        display: flex;
        align-items: center;
        gap: 24px;
        margin: 0 0 30px 0;

        @media (max-width: 992px) {
            margin: 0 0 25px 0;
        }
    }

    &__map {
        background-color: #f3f3f3;
        border-radius: 30px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__icon {
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__label {
        margin: 0;
        font-family: "Gilroy", sans-serif;
        color: #333333;
        font-size: 24px;
        line-height: normal;
        font-weight: 600;
    }

    &__link {
        margin: 0;
        display: flex;
        font-size: 16px;
        line-height: normal;
        color: #333333;
    }

    &__test {
        background-color: #1fa169;
        border-radius: 9px;
        width: 100%;
        height: 159px;
    }
}

.contact-contact {
    @include adaptiv-value("padding-top", 60, 40, 1);
    @include adaptiv-value("padding-bottom", 100, 50, 1);
    &__container {
    }

    &__body {
        display: flex;
        gap: 32px;

        @media (max-width: 992px) {
            flex-direction: column;
            gap: 50px;
        }
    }

    &__title {
        @include adaptiv-value("font-size", 48, 32, 1);
        line-height: 120%;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        margin: 0;
        position: sticky;
        top: 100px;
        left: 0;

        span {
            color: #1fa169;
        }

        @media (max-width: 992px) {
            text-align: center;
            position: static;
        }
    }

    &__form {
        .request-form {
            .wrapper {
                .form {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 22px;
                    row-gap: 30px;
                    position: relative;

                    .row {
                        width: 100%;
                        display: flex;
                        input {
                            padding: 18px 20px;
                            border: 1px solid #fff;
                            background-color: #fff;
                            border-radius: 100px;
                            font-family: "Ubuntu", sans-serif;
                            color: #232323;
                            width: 100%;
                            transition: all 0.3s ease 0s;

                            &::placeholder {
                                color: #a8a8a8;
                                font-size: 16px;
                                line-height: normal;
                                font-family: "Ubuntu", sans-serif;
                            }

                            &.invalid {
                                border-color: #ff0000;
                            }
                        }

                        .react-tel-input {
                            width: 100%;

                            &.invalid {
                                input {
                                    border-color: #ff0000;
                                }
                            }

                            .flag-dropdown {
                                width: fit-content;
                                position: absolute;
                                top: 0;
                                left: 0;
                                border: none;
                                background: transparent;
                                &:hover {
                                    background-color: transparent !important;
                                }

                                &.open {
                                    width: 100%;
                                }

                                .selected-flag {
                                    position: absolute;
                                    height: 50px;
                                    top: 0;
                                    left: 0;
                                    padding-left: 16px;
                                    background-color: transparent;

                                    .iti-arrow {
                                        right: -5px;
                                    }

                                    .selected-dial-code {
                                        color: #959595;
                                        font-family: "Ununtu", sans-serif;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 300;
                                        line-height: normal;
                                    }
                                }

                                .country-list {
                                    width: 100%;
                                    top: 30px;
                                    border-radius: 10px;
                                    &::-webkit-scrollbar {
                                        background: transparent !important;
                                        width: 0px !important;
                                    }

                                    &::-webkit-scrollbar-track {
                                        background: transparent !important;
                                    }

                                    &::-webkit-scrollbar-thumb {
                                        background-color: transparent !important;
                                        opacity: 0 !important;
                                    }

                                    li {
                                        color: var(--6, #0b1d20);
                                        font-family: "Urbanist", sans-serif;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 120%;
                                    }
                                }
                            }

                            input {
                                padding: 16px 20px 16px 65px !important;
                                height: 50px;
                                transition: all 0.3s ease 0s;
                            }
                        }

                        .custom-select__control {
                            border: none;
                            border-radius: 100px;
                            padding: 7px 16px 7px 24px;
                            transition: all 0.3s ease 0s;
                            cursor: pointer;

                            .custom-select__value-container {
                                padding: 0;
                            }

                            .custom-select__indicator-separator {
                                display: none;
                            }

                            .custom-select__indicator {
                                border: none;
                                svg {
                                    path {
                                        fill: #1fa169;
                                    }
                                }
                            }
                        }

                        .css-b62m3t-container {
                            width: 100%;
                        }

                        &._policy {
                            grid-column-start: span 2;

                            label {
                                position: relative;
                                display: flex;
                                padding-left: 30px;
                                cursor: pointer;
                                max-width: 450px;
                                margin-top: -15px;

                                &.invalid {
                                    &::before {
                                        border-color: #ff0000;
                                    }
                                }
                                input {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    z-index: -1;
                                }
                                span {
                                    font-size: 14px;
                                    line-height: normal;
                                    font-family: "Ubuntu", sans-serif;
                                    color: #fff;
                                    font-weight: 300;
                                    a {
                                        color: #fff;
                                        transition: all 0.3s ease 0s;
                                        &:hover {
                                            color: #1fa169;
                                            text-decoration: underline;
                                        }
                                    }
                                }

                                &::before {
                                    content: "";
                                    position: absolute;
                                    top: 2px;
                                    left: 0;
                                    width: 15px;
                                    height: 16px;
                                    border: 1px solid #fff;
                                    border-radius: 3px;
                                    background-color: #fff;
                                }

                                &::after {
                                    content: "";
                                    position: absolute;
                                    top: 6px;
                                    left: 4px;
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 2px;
                                    background-color: #1fa169;
                                    transition: all 0.3s ease 0s;
                                    opacity: 0;
                                    visibility: hidden;
                                }

                                &._active {
                                    &::after {
                                        opacity: 1;
                                        visibility: visible;
                                    }
                                }
                            }
                        }

                        &._textarea {
                            grid-column-start: span 2;
                        }
                    }

                    .button {
                        grid-column-start: span 2;
                        background-color: #1fa169;
                        padding: 10px 24px;
                        border-radius: 100px;
                        font-size: 20px;
                        line-height: 34px;
                        color: #fff;
                        font-weight: 400;
                        font-family: "Ubuntu", sans-serif;
                        border: none;
                        cursor: pointer;
                        transition: all 0.3s ease 0s;

                        &:hover {
                            background-color: #0b1d20;
                        }
                    }
                    .general-error {
                        position: absolute;
                        bottom: -30px;
                        left: 50%;
                        transform: translate(-50%, 0);
                        display: none;
                    }
                }
            }

            .success-message {
                font-size: 24px;
                line-height: 36px;
                font-weight: 300;
                color: #fff;
                text-align: center;
                display: flex;
                flex-direction: column;
                row-gap: 30px;

                span {
                    font-weight: 700;
                    color: #1fa169;
                    font-size: 32px;
                    line-height: normal;
                    text-transform: uppercase;
                }
            }
        }
    }

    &__col-01 {
        width: 50%;
        @media (max-width: 992px) {
            width: 100%;
        }
    }

    &__col-02 {
        width: 50%;
        @media (max-width: 992px) {
            width: 100%;
        }
    }
}
