@import "mixin";

.footer {
  background-color: #0d0d0d;
  padding: 48px 0 0 0;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
  @media (max-width: 767px) {
    padding: 62px 0 0 0;
  }
  &__container {
  }

  &__body {
  }

  &__row-01 {
  }

  &__row-02 {
    position: relative;
    margin: 67px 0 0 0;
    &::before {
      content: "";
      position: absolute;
      width: 150vw;
      height: 100%;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
      background-color: #000000;
      border-top: 1px solid #2c2c2c;
    }
  }

  &__row-03 {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 150vw;
      height: 100%;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
      background-color: #000000;
      border-top: 1px solid #2c2c2c;
    }
  }

  &__col-01 {
    min-width: 300px;

    @media (max-width: 992px) {
      min-width: 100%;
      margin: 0 0 35px 0;
    }

    .soc {
      display: none;
      @media (max-width: 992px) {
        display: flex;
        justify-content: flex-start;
        flex-grow: 1;
        gap: 16px;
        margin-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #2C2C2C; 
        a {
          display: flex;
        }
      }
    }
  }

  &__col-02 {
    width: 100%;
    @media (max-width: 992px) {
      margin: 0 0 16px 0;
    }

    .nav-row {
      display: flex;
      justify-content: space-between;
      nav {
        flex-grow: 1;
        &:last-child {
          max-width: 200px;
          @media (max-width: 992px) {
            display: none;
          }
          ul {
            grid-template-columns: minmax(auto, 100%);
            a {
              display: flex;
              align-items: center;
              gap: 10px;
            }
          }
        }
      }
    }

    .footer__contacts {
      border-top: 1px solid #2c2c2c;
      margin-top: 28px;
      padding-top: 48px;
      display: flex;
      gap: 30px;
      flex-direction: row;
      @media (max-width: 992px) {
        flex-wrap: wrap;
      }
      li {
        display: flex;
        gap: 10px;

        @media (max-width: 992px) {
          white-space: wrap;
        }
        &:first-child,
        &:nth-child(2) {
          display: none;
          @media (max-width: 992px) {
            display: flex;
          }
        }
        &:last-child {
          flex-grow: 1;
          @media (max-width: 992px) {
            display: none;
          }
        }
        > a {
          display: flex;
          gap: 10px;
          align-items: center;
        }
        span {
          width: calc(100% - 30px);
          color: #1fa169;
          a {
            color: #fff;
            @media (max-width: 992px) {
              br {
                display: none;
              }
            }
          }
        }
        .soc {
          display: flex;
          justify-content: flex-end;
          flex-grow: 1;
          gap: 16px;
          margin-right: 72px;
          a {
            display: flex;
          }
        }
      }
    }
  }

  &__col-03 {
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    @include adaptiv-value("gap", 100, 0, 1);
    margin: 28px 0 0 0;

    @media (max-width: 992px) {
      flex-direction: column;
      gap: 0;
    }
  }

  &__logo {
    display: flex;
    margin-bottom: 30px;
    img {
      width: 220px;
      object-fit: cover;
    }
  }

  &__title {
    font-size: 20px;
    line-height: normal;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
  }

  &__text {
    margin: 24px 0 0 0;
    font-size: 16px;
    line-height: normal;
    color: #fff;
    max-width: 270px;
    width: 100%;
  }

  &__nav {
  }

  &__menu-list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: minmax(auto, 25%) minmax(auto, 25%) minmax(auto, 25%) minmax(
        auto,
        25%
      );
    gap: 24px;

    @media (max-width: 767px) {
      grid-template-columns: minmax(auto, 50%) minmax(auto, 50%);
      justify-content: space-between;
      column-gap: 32px;
      row-gap: 16px;
    }
  }

  &__menu-item {
    list-style: none;
    padding: 0;
  }

  &__menu-link {
    font-size: 16px;
    line-height: normal;
    color: #fff;
    font-family: "Urbanist", sans-serif;
    transition: all 0.3s ease 0s;

    &:hover {
      color: #1fa169;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    margin: 0;
  }

  &__contact {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: normal;
    color: #fff;
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
    white-space: nowrap;
  }

  &__link {
    font-size: 16px;
    line-height: normal;
    color: #fff;
    font-family: "Urbanist", sans-serif;
    transition: all 0.3s ease 0s;

    &:hover {
      color: #1fa169;
    }
  }

  &__policy {
    position: relative;
    z-index: 30;
  }

  &__policy-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: fit-content;
    column-gap: 72px;
    margin: 0 auto;
    padding: 15px 0;

    @media (max-width: 767px) {
      display: grid;
      grid-template-columns: minmax(auto, 50%) minmax(auto, 50%);
      justify-content: space-between;
      align-items: center;
      row-gap: 10px;
      column-gap: 32px;
      max-width: 100%;
      width: 100%;
      padding: 18px 0;
    }
  }

  &__policy-item {
    @media (max-width: 767px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__policy-link {
    font-size: 16px;
    line-height: normal;
    font-family: "Urbanist", sans-serif;
    color: #808080;
    transition: all 0.3s ease 0s;

    &:hover {
      color: #1fa169;
    }
  }

  &__copy {
    position: relative;
    z-index: 30;
    font-size: 16px;
    line-height: normal;
    font-family: "Urbanist", sans-serif;
    color: #808080;
    padding: 15px 0;
    text-align: center;
  }
}
