@import "mixin";

header {
  position: fixed;
  left: 0;
  top: 0;
  padding: rem(30) 0;
  width: 100%;
  z-index: 99;
  .menu-row {
    background: #ffffff;
    padding: rem(10) rem(40);
    box-shadow: 0px 2px 18.5px 0px #00000014;
    border-radius: rem(30);
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      display: flex;
      &:hover {
        svg {
          path {
            fill: #1fa169;
          }
        }
      }
    }
    .actions {
      display: flex;
      align-items: center;
      gap: rem(15);
      span{
        display: block;
        width: rem(1);
        height: 33px;
        background: #B5B5B5;
      }
      button {
        padding: 0;
        background: transparent;
        border: none;
        display: flex;
        &:hover {
          svg {
            path {
              fill: #1fa169;
            }
          }
        }
      }
    }
  }
}
